/* FONTS =============================================================================================== */

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

p, ul, li, a {
    font-family: 'Roboto', sans-serif;
}

/* CHRISTMAS BUTTON */

.christmas-hero {
  background-color: 	RGB(12, 169, 12) !important;
}

.christmas-txt {
  color: 	#ffd700 !important;
}

.christmas-btn {
  background-color: #ce0d0d !important;
  color: #ffd700;
  border-color: #ffd700;
}


/* WAPP BTN =============================================================================================== */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.wider-td {
    width: 60% !important; /* Adjust the width as needed */
  }


/* SLIDER ====================================================================================================== */

.slider-text {
    position: absolute;
    right: 0;
    bottom: 0
  }
  
#slider .card-content{
    max-width: 50%;
  }
  
#slider{
    overflow: hidden;
  }
  
@media screen and (max-width: 1023px) {
    #slider .card-content{
      display: none;
    }
  }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 1200px;
}

.caption-container {
  color: white;
}


/* CONSENT */

/* .cc-nb-reject, .cc-nb-okagree {
  background-color: #eaeaea !important;
} */